.container{
    background-color: #050658;
    width: 100%;
    height: 100%;
}
.head-container{
    width: 100%;
    height: 0.474rem;
    background: url("../img/header.png") no-repeat center;
    background-size: cover;
    color: #fff;
    line-height: 0.474rem;
    text-align: center;
    font-size: 0.1875rem;
    font-weight: bold;
}
.head-top{
    height: 0.61458rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.head-top span{
    color: #fff;
    display: block;
    width: 1.042rem;
    height: 0.292rem;
    border: 1px solid #fff;
    background-color: #262277;
    margin: 0 0.208rem;
    border-radius: 0.1458rem;
    line-height: 0.292rem;
    text-align: center;
    font-size: 0.1302rem;
}